
credentials.json
token.json
backend/GoogleAPI/src/__pycache__/Document.cpython-312.pyc
backend/GoogleAPI/src/__pycache__/GoogleHelperFunctions.cpython-312.pyc
documentContents.txt
output.pdf
output.txt
main.py
main.py
