
credentials.json
token.json
backend/GoogleAPI/src/__pycache__/Document.cpython-312.pyc
backend/GoogleAPI/src/__pycache__/GoogleHelperFunctions.cpython-312.pyc
documentContents.txt
output.pdf
output.txt
main.py
main.py
backend/endpoints/__pycache__/text_extraction.cpython-312.pyc
backend/endpoints/__pycache__/upload_to_s3.cpython-312.pyc
*.pyc
*.pyc
backend/endpoints/__pycache__/upload_to_s3.cpython-312.pyc
*.pyc
*.pyc
main.py
/node_modules
main.py
package-lock.json
package.json
backend/documentText.txt
backend/service_account_key.json
